.footer-item {
    width: 300px;
}

.footer-vk-icon {
    transition: 1s;
    filter: grayscale(1) brightness(2);
}

.footer-vk-icon:hover {
    filter: grayscale(0) brightness(1);
}

.footer-youtube-icon {
    transition: 1s;
    filter: grayscale(1) brightness(5);
}

.footer-youtube-icon:hover {
    filter: grayscale(0) brightness(1);
}

.footer-inline {
    display: flex;
    flex-direction: row;
}