.main-card {
    padding: 0px;
    width: 260px;
    margin: 5px 10px;
}

.main-card-body {
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-card-img {
    width: 258.5px;
    margin-bottom: 6px;
}

.main-card-category {
    color: #999999;
}

.main-card-name {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    flex: 1;
}

.main-card-ttx {
    color: #999999;
}

.main-card-ttx p {
    margin: 0px;
}

.main-card-price {
    padding: 5px 10px;
    background-color: #FFF6E3;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}