

.main-modal {
    max-width: 880px;
    display: flex;
    
}

.main-modal-content {
    display: flex;
    flex-direction: column;
}

.main-modal-content-contaiter {

    display: flex;
    flex-direction: row;
}

.main-modal-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 24px;
    width: 260px;
}

.modal-main-count-container {
    height: 36px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
}

.modal-main-count-container input {
    height: 100%;
    width: 60%;
}

.modal-main-action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.main-modal-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.main-modal-content-2 h2 {
    flex: 1;
    font-size: 1.325rem;
}

.main-modal-price {
    font-size: 1.2em;
}

.main-modal-close {
    position: absolute;
    border: medium none;
    background-color: transparent;
    right: 3px;
    top: -3px;
    font-size: 1.3em;
    opacity: 0.6;
}

.modal-main-action {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.modal {
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-main-ttx-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 20;
    margin-top: 10px;
}

.modal-main-ttx:not(:last-child) {
    margin-right: 10px;
}

@media screen and (min-width: 825px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

@media screen and (max-width: 825px) {
    .main-modal-content-contaiter {
        flex-direction: column;
    }

    .modal-main-ttx-container {
        flex-direction: column;
        margin-top: 5px;
    }

    .modal-main-ttx:not(:last-child) {
        margin-bottom: 10px;
    }

    .modal-main-ttx-title {
        margin-bottom: 0px;
    }

    .modal-main-action {
        flex-direction: column;
    }

    .main-modal-content-1 {
        margin-right: 0px;
        margin-bottom: 10px;
        width: auto;
    }

    .modal-main-count-container {
        margin-right: 0px;
    }

    .modal-main-img {
        width: 100%;
        height: auto;
    }

    .main-modal-close {
        right: -2px;
        top: -8px;
    }

    .modal-main-action-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .modal-main-count-container {
        height: 36px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}