.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.category-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.category-button img {
    height: 16px;
    width: 16px;
}

.category-button span {
    vertical-align: inherit;
    padding: 0px 5px;
}


.category {
    display: flex;
    align-self: center;
    width: 110px;
}

.logo {
    display: flex;
}

.card {
    display: flex;
    align-self: center;
    height: 48px;
    width: 110px;
    transition: 1s;
}

.card:hover {
    transform: scale(1.05);
}

.category-contaier {
    flex-direction: column;
}

.category-row {
    display: flex;
    flex-direction: row;
}

.category-item {
    display: flex;
    flex-direction: column;
    margin: 4px;
    border-radius: 5px;
}

.category-item img {
    width: 95px;
    height: 95px;
    align-self: center;
}

.category-item span {
    white-space: pre-wrap;
    text-align: center;
    height: 60px;
}

.category-item-wrapper {
    flex-wrap: wrap;
}

.nav-item-padding {
    padding: 0px 16px;
}

.menu {
    display: none;
}

@media (max-width: 767px) {
    .category-button {
        display: none;
    }

    .menu {
        display: flex;
    }

    .card {
        display: flex;
        align-self: center;
        height: 48px;
        width: 48px;
        position: absolute;
        right: 16px;
    }

    .main {
        justify-content: center;
    }

    .category {
        width: 0px;
    }
}

@media (max-width: 488px) {
    .logo {
        opacity: 0;
        width: 1px;
        height: 90px;
    }
}

.navbar-main {
    justify-content: center !important;
}

.navbar-toggler-mobile {
    position: absolute;
    top: -64px;
}